@import 'src/variables';

.infowrapper {
  background-color: $black;

  .flexwrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 140px;

    .infotext {
      text-transform: uppercase;
      font-size: 2.5rem;
      margin: 50px 0 20px;
    }

    .lorem {
      color: white;
      width: 400px;
      margin: 20px 0;
    }

    .readmore {
      color: $white;
      border: none;
      background-color: $orange;
      text-transform: uppercase;
      font-size: 1.5rem;
      padding: 10px 35px;
      cursor: pointer;
      transition: 0.3s;
      margin: 30px 0 50px 0;

      &:hover {
        background-color: rgba($color: $orange, $alpha: 0.8);
      }
    }
  }
}
