@import 'src/variables';

.contactwrapper {
  background: url('contact.jpg');
  background-color: rgba($color: #000, $alpha: 0.5);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  text-transform: uppercase;
  transform: skewY(-6deg);

  .content{
    transform: skewY(6deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .contacttext {
      margin-top: 50px;
      font-size: 2rem;
    }
  
    .contactdetails {
      font-size: 2rem;
      color: $white;
      margin: 50px;
  
      div {
        margin-bottom: 100px;
      }
  
      .phone,
      .mail {
        margin-right: 90px;
      }
    }
  }

}
