@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$orange: #ffb800;
$black: #232323;
$white: #fff;
$font: 'Anton', sans-serif;

.white {
  color: $white;
}
.orange {
  color: $orange;
}

* {
  font-family: 'Anton';
}
