@import 'src/variables';

$font-size: 1.5rem;

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2.5rem 2.5rem 2.5rem;
  padding-top: 2.5rem;

  .navleft {
    display: flex;
    align-items: center;
    .logo {
      position: relative;
      .rightDumbell {
        position: absolute;
        left: 0;
      }
    }
    .title {
      margin-left: 2rem;
      font-size: $font-size;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

.navright {
  .linkWrapper {
    .link {
      font-size: $font-size;
      color: $white;
      text-decoration: none;
      margin: 0 30px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: $white;
        bottom: 0;
        right: 0;
        width: 0;
        transition: width 0.3s ease-in-out;
      }
      &:hover:after,
      &:focus:after,
      &:active:after {
        left: 0;
        width: 100%;
      }
    }
  }
}
